<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="methods" thread-count="2" name="Perfermance">
        <classes>
            <!--<class name="com.fanli.android.SuperCpuTest">-->
                <!--<methods>-->
                    <!--<include name="moreTest"/>-->
                    <!--&lt;!&ndash;<include name="moreTest1"/>&ndash;&gt;-->
                    <!--&lt;!&ndash;<include name="moretest2"/>&ndash;&gt;-->
                    <!--&lt;!&ndash;<include name="moretest3"/>&ndash;&gt;-->
                    <!--&lt;!&ndash;<include name="moretest4"/>&ndash;&gt;-->
                <!--</methods>-->
            <!--</class>-->
            <class name="com.fanli.android.NineFpsTest" >
                <methods>
                    <include name="NineTest"/>
                    <include name="fpsMonitor"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>