<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="methods" thread-count="2" name="超级返CPU">
        <classes>
            <class name="com.fanli.android.SuperCpuTest">
                <methods>
                    <include name="superTest"/>
                    <include name="cpuMonitor"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="3" preserve-order="true" parallel="methods" thread-count="3" name="9k9FPS">
        <classes>
            <class name="com.fanli.android.NineFpsTest" >
                <methods>
                    <include name="nineTest"/>
                    <include name="fpsMonitor"/>
                    <include name="memoryMonitor"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>